# Folders to ignore
commands_tested/
out/
test_sample_dyogo/
input_data/
.snakemake/

# Files to ignore
config/variables.yaml
amr_annotation_call.txt
.Rhistory
input-2020-09-24.build4894
pgap_2020-09-24.build4894.sif
sample_sheet.yaml
VERSION
metadata.csv
tbl2asn

